@keyframes fill {
  0% {
    transform: scale(0);
    animation-timing-function: cubic-bezier(0.16, 0.61, 0.67, 0.87);
  }
  100% {
    transform: scale(1);
    overflow: hidden;
  }
}
@keyframes card-appear {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes loader-disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes dot-fall {
  0% {
    transform: translateY(-600px);
  }
  90% {
    transform: translateY(-5px) scale(1);
  }
  100% {
    transform: translateY(0px) scale(1.2, 0.8);
  }
}
@keyframes dot-mouv {
  0% {
    transform: translateY(0px) scale(1.2, 0.8);
    animation-timing-function: cubic-bezier(0.39, 0.66, 0.45, 0.95);
    /*ralenti en fin de course */
  }
  50% {
    transform: translateY(-30px);
    animation-timing-function: cubic-bezier(0.72, 0.13, 0.89, 0.6);
    /*ralenti en debut de course */
  }
  100% {
    transform: translateY(0px);
  }
}
/* Prefixe box-sizing */
body {
  box-sizing: border-box;
  /* Opera/IE 8+ */
  -moz-box-sizing: border-box;
  /* Firefox, autres Gecko */
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, autres WebKit */
}

/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.btn {
  background: -webkit-linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 3px 10px -7px black;
  color: #FFF;
  width: 217px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn:hover {
  box-shadow: 0 3px 10px -5px black;
  background: -webkit-linear-gradient(#ff83dd, #985ede);
}
.btn--menu {
  align-self: center;
  width: 186px;
}

/* Menu picture style */
.menu-picture {
  height: 217px;
}
.menu-picture__image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

/* Loadin Spinner */
.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  animation: loader-disappear 500ms 2500ms forwards;
}
.loading__dot-1 {
  color: #9356DC;
  animation: dot-fall 500ms both, dot-mouv 1s 499ms infinite;
}
.loading__dot-2 {
  color: #FF79DA;
  animation: dot-fall 500ms 200ms both, dot-mouv 1s 699ms infinite;
}
.loading__dot-3 {
  color: #99E2D0;
  animation: dot-fall 500ms 400ms both, dot-mouv 1s 899ms infinite;
}

/* General */
body {
  font-family: "Roboto", Verdana, Tahoma, sans-serif;
  max-width: 1920px;
  margin: auto;
}

/*Link*/
a {
  text-decoration: none;
  color: black;
}

/* Section title of main page */
.main__h3 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 53px;
  margin-bottom: 27px;
  margin-left: 21px;
}
@media (min-width: 768px) {
  .main__h3 {
    text-align: center;
  }
}

/*Section title of menu page */
.page__h3 {
  font-size: 16px;
  margin-left: 20px;
  text-transform: uppercase;
  border-bottom: 2px solid #99E2D0;
  width: 40px;
  padding-bottom: 10px;
}

/* Header */
header {
  position: relative;
  padding-top: 22px;
  padding-bottom: 12px;
}

/*Logo*/
h1 {
  font-family: "Shrikhand", Impact, sans-serif;
  font-size: 30px;
  text-align: center;
  margin: 0;
}

/* Back arrow to main page */
.fa-arrow-left {
  font-size: 18px;
  position: absolute;
  left: 24px;
}

/* Footer section */
/* Footer container */
.footer {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  padding-bottom: 27px;
  /* Footer logo */
  /* Footer Link */
  /*Footer icons */
}
@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
.footer__logo {
  color: white;
  font-size: 18px;
  margin-top: 26px;
  margin-bottom: 22px;
  margin-left: 25px;
  text-align: left;
}
.footer__link {
  display: flex;
  color: white;
  margin-left: 25px;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .footer__link {
    margin-bottom: 0px;
  }
}
.footer__ico {
  font-size: 14px;
  width: 14px;
  margin-right: 10px;
}

/* Localisation */
/* Localisation container */
.localisation {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  /* dark version of $grey-bg variable */
  box-shadow: inset 0px 8px 12px -15px black;
  padding-right: 30px;
}

/* Localisation icon */
.fa-map-marker-alt {
  margin-right: 18px;
}

/* Introduction Section */
/* Introduction container */
.intro {
  height: 287px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  /* Introduction title */
  /* Introduction text */
}
@media (min-width: 768px) {
  .intro {
    height: auto;
    padding-bottom: 20px;
  }
}
.intro__h2 {
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 15px;
  padding: 0px 55px;
}
.intro__p {
  text-align: center;
  margin-bottom: 31px;
  padding-left: 24px;
  padding-right: 20px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.2;
}

/* Functionning section */
/*Functionning container */
.functionning {
  margin-bottom: 67px;
  /* Functionning step container */
}
.functionning__step {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 268px;
  padding-left: 13px;
  /* Card container */
}
@media (min-width: 768px) {
  .functionning__step {
    flex-direction: row;
    justify-content: space-around;
    height: auto;
    flex-wrap: wrap;
    gap: 15px;
  }
}
.functionning__step__card {
  display: flex;
  width: 86%;
  height: 73px;
  background-color: #f6f6f6;
  border-radius: 15px;
  box-shadow: 0px 3px 10px -7px black;
  position: relative;
  align-items: center;
  transition: all 500ms;
  /* smooth apparition of background when hover */
  /* Card number */
  /* Card icon */
  /*Card text */
  /* Card hover */
}
@media (min-width: 768px) {
  .functionning__step__card {
    width: 290px;
  }
}
.functionning__step__card__number {
  width: 16px;
  padding: 5px;
  text-align: center;
  background-color: #9356DC;
  border-radius: 50%;
  color: #fff;
  position: relative;
  right: 16px;
}
.functionning__step__card__ico {
  color: #777777;
  /* dark version of $grey-bg variable */
  font-size: 20px;
  width: 20px;
  margin-left: 5px;
}
.functionning__step__card__txt {
  font-weight: 600;
  margin-left: 20px;
}
.functionning__step__card:hover {
  background-color: #f4eefc;
  /* light version of $primary-color variable */
  /* Combinator to select icon when card hover */
}
.functionning__step__card:hover .functionning__step__card__ico {
  color: #9356DC;
}

/* Restaurants Section */
/* Restaurant container */
.restaurant {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  /*Card container */
  /* Card */
  /* Card images */
  /* New bagde */
  /* Card description */
}
.restaurant__bloc {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  gap: 17px;
  margin-bottom: 65px;
}
@media (min-width: 768px) {
  .restaurant__bloc {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 95%;
    height: 100%;
  }
}
.restaurant__card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 3px 10px -7px black;
  position: relative;
  /* Heart container main page */
}
@media (min-width: 768px) {
  .restaurant__card {
    width: 355px;
  }
}
.restaurant__card__like {
  position: absolute;
  right: 26px;
  top: 200px;
  font-size: 26px;
  width: 30px;
  height: 30px;
  /* Combinator to select heart full when heart container hover */
  /* heart full */
}
.restaurant__card__like:hover > .restaurant__card__like__full {
  animation: fill 500ms forwards;
  /* animation keyframe fill effect for heart */
}
.restaurant__card__like__full {
  position: absolute;
  top: 0px;
  left: 0px;
  font-weight: bold !important;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(0);
}
.restaurant__img {
  width: 100%;
  height: 174px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
.restaurant__new {
  font-size: 0.8em;
  font-weight: 400;
  position: absolute;
  top: 5%;
  right: 4%;
  background-color: #99E2D0;
  padding: 10px 14px;
  border-radius: 5px;
  color: #278870;
}
.restaurant__description {
  position: relative;
  /*Restaurant name */
  /* Restaurant location */
}
.restaurant__description__name {
  font-size: 18px;
  font-weight: 700;
  margin-top: 19px;
  margin-bottom: 7px;
  margin-left: 14px;
}
.restaurant__description__location {
  font-size: 18px;
  margin-bottom: 16px;
  margin-left: 14px;
}

/* Menu content */
/* Menu container */
.menu {
  display: flex;
  flex-direction: column;
  border-radius: 40px 40px 0px 0px;
  position: relative;
  background-color: #f6f6f6;
  padding-bottom: 84px;
  /* Menu header container */
}
.menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 37px;
  /* Restaurant name */
  /* Heart container */
}
.menu__header__title {
  font-family: "Shrikhand", Impact, sans-serif;
  font-size: 28px;
  margin-top: 38px;
  margin-bottom: 35px;
  margin-left: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu__header__like {
  position: relative;
  font-size: 26px;
  width: 30px;
  height: 30px;
  /*Combinator to select heart full when heart container hover */
}
.menu__header__like:hover > .restaurant__card__like__full {
  animation: fill 500ms forwards;
}

/* Complete Menu container */
.menu-bloc {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .menu-bloc {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
}

/* Menu container */
.menu_section {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 43px;
  /* Menu card container */
}
@media (min-width: 768px) {
  .menu_section {
    flex-grow: 1;
    min-width: 300px;
  }
}
.menu_section__card {
  background-color: white;
  width: 93%;
  height: 69px;
  border-radius: 15px;
  margin: auto;
  box-shadow: 0px 3px 10px -7px black;
  display: flex;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  opacity: 0;
  animation: card-appear 1s cubic-bezier(0.45, 0.43, 0.26, 1) forwards;
  /* card appear one by one */
  /*Card description container */
  /* Select option container with price */
  /* Translation for select option when card hover */
  /* Rotation of icon when card hover */
  /* Reduce the width when card hover */
}
.menu_section__card--1 {
  animation-delay: 150ms;
  /* loop to add delay at each card */
}
.menu_section__card--2 {
  animation-delay: 300ms;
  /* loop to add delay at each card */
}
.menu_section__card--3 {
  animation-delay: 450ms;
  /* loop to add delay at each card */
}
.menu_section__card--4 {
  animation-delay: 600ms;
  /* loop to add delay at each card */
}
.menu_section__card--5 {
  animation-delay: 750ms;
  /* loop to add delay at each card */
}
.menu_section__card--6 {
  animation-delay: 900ms;
  /* loop to add delay at each card */
}
.menu_section__card--7 {
  animation-delay: 1050ms;
  /* loop to add delay at each card */
}
.menu_section__card--8 {
  animation-delay: 1200ms;
  /* loop to add delay at each card */
}
.menu_section__card--9 {
  animation-delay: 1350ms;
  /* loop to add delay at each card */
}
.menu_section__card--10 {
  animation-delay: 1500ms;
  /* loop to add delay at each card */
}
.menu_section__card__description {
  width: 80%;
  transition: all 500ms;
  /* reduce the width when card hover */
  /* Dishes title */
  /* Dishes information */
}
.menu_section__card__description__title {
  font-size: 18px;
  font-weight: 600;
  margin-top: 17px;
  margin-bottom: 7px;
  margin-left: 11px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu_section__card__description__txt {
  margin-left: 11px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu_section__card--translate {
  display: flex;
  position: absolute;
  right: -60px;
  height: 100%;
  transition: transform 500ms ease-in-out;
  /* option select appear with translation when card hover */
}
.menu_section__card:hover > .menu_section__card--translate {
  transform: translateX(-60px);
}
.menu_section__card:hover .fa-check-circle {
  transform: rotate(360deg);
}
.menu_section__card:hover > .menu_section__card__description {
  width: calc(80% - 60px);
}

/* Dishes price */
.price {
  display: flex;
  align-self: flex-end;
  padding-bottom: 11px;
  width: 50px;
  font-weight: 500;
}

/* Select option container */
.check-box {
  background-color: #99E2D0;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 15px 15px 0px;
  height: 100%;
}

/* Select icon */
.fa-check-circle {
  font-size: 20px;
  color: white;
  transform: rotate(0deg);
  transition: transform 500ms ease-in-out;
}

/*# sourceMappingURL=style.css.map */
