/* General */

body
{
    font-family: 'Roboto', Verdana, Tahoma, sans-serif;
    max-width: 1920px;
    margin: auto;
}

/*Link*/
a{
    text-decoration: none;
    color: black;
}

/* Section title of main page */
.main__h3{
    font-size: 24px;
    font-weight: 700;
    margin-top: 53px;
    margin-bottom: 27px;
    margin-left: 21px;
        
    @media (min-width:768px){
        text-align: center;   
        }
}

/*Section title of menu page */
.page__h3{
    font-size: 16px;
    margin-left: 20px;
    text-transform: uppercase;
    border-bottom: 2px solid $tertiary-color;
    width: 40px;
    padding-bottom: 10px;
}
