/* Header */

header{
    position: relative;
}

h1
{
    font-family: 'Shrikhand', Impact, sans-serif;
    font-size: 30px;                                            
    text-align: center;
    margin-top: 21px;
    margin-bottom: 12px;
}

.fa-arrow-left{
    font-size: 18px;
    position: absolute;
    top: 4px;
    left: 24px;

}
