/* Header */

header{
    position: relative;
    padding-top: 22px;
    padding-bottom: 12px;
}

/*Logo*/
h1{
    font-family: 'Shrikhand', Impact, sans-serif;
    font-size: 30px;                                            
    text-align: center;
    margin: 0;
}

/* Back arrow to main page */
.fa-arrow-left{
    font-size: 18px;
    position: absolute;
    top: 4px;
    left: 24px;
}
