/* Localisation */

.localisation
{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(234, 234, 234);
    box-shadow: inset 0px 8px 12px -15px black;
    padding-right: 30px;
}

.fa-map-marker-alt
{
    margin-right: 18px;
}