/* Restaurants Section */

/* Restaurant container */
.restaurant{
    background-color: $grey-bg;
    display: flex;
    flex-direction: column;
    
    /*Card container */
    &__bloc{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
        gap: 17px;
        margin-bottom: 65px;

        @media (min-width:768px) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 95%;
            height: 100%;
        }
    }

    /* Card */
    &__card{
        background-color: white;
        border-radius: 15px;
        @include box-shadow;
        position: relative;

        @media (min-width:768px) {
            width: 355px;
        }
    }

    /* Card images */
    &__img{
        width: 100%;
        height: 174px;
        object-fit: cover;
        border-radius: 15px 15px 0px 0px;
    }

    /* New bagde */
    &__new{
        font-size: 0.8em;
        font-weight: 400;
        position: absolute;
        top: 5%;
        right: 4%;
        background-color: $tertiary-color;
        padding: 10px 14px;
        border-radius: 5px;
        color: darken($color: $tertiary-color, $amount: 40);
    }

    /* Card description */
    &__description{
        position: relative;

        /*Restaurant name */
        &__name{
            font-size: 18px;
            font-weight: 700;
            margin-top: 19px;
            margin-bottom: 7px;
            margin-left: 14px;
        }
        
        /* Restaurant location */
        &__location{
            font-size: 18px;
            margin-bottom: 16px;
            margin-left: 14px;
        }
    }

}

/* Heart container main page */
.main-heart{
    position: absolute;
    right: 26px;
    top: 200px;
    font-size: 26px;
    width: 30px;
    height: 30px;

    /* Combinator to select heart full when heart container hover */
    &:hover > .main-heart__full{
        animation: fill 500ms forwards; /* animation keyframe fill effect for heart */
    }

    /* heart empty */
    &__empty{
        position: absolute;
        top: 0px;
        left: 0px;
}
    /* heart full */
    &__full{
        position: absolute;
        top: 0px;
        left: 0px;
        font-weight: bold !important;
        background: linear-gradient($primary-color, $secondary-color);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        transform: scale(0);


    }
}











