/* Loadin Spinner */

.loading{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    animation: loader-disappear 500ms 2500ms forwards;


    &__dot-1{
        color: $primary-color;
        animation: dot-fall 500ms both, dot-mouv 1s 500ms infinite;
    }

    &__dot-2{
        color: $secondary-color;
        animation: dot-fall 500ms 200ms both, dot-mouv 1s 700ms infinite;
    }

    &__dot-3{
        color: $tertiary-color;
        animation: dot-fall 500ms 400ms both, dot-mouv 1s 900ms infinite;
    }

}