/* Functionning section */

/*Functionning container */
.functionning{
    margin-bottom: 67px;

    /* Functionning step container */
    &__step{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 268px;
        padding-left: 13px;

        @media (min-width:768px) {
            flex-direction: row;
            justify-content: space-around;
            height: auto;
            flex-wrap: wrap;
            gap: 15px;
        }

        /* Card container */
        &__card{
            display: flex;
            width: 86%;
            height: 73px;
            background-color: $grey-bg;
            border-radius: 15px;
            @include box-shadow;
            position: relative;
            align-items: center;
            transition: all 500ms; /* smooth apparition of background when hover */

            @media (min-width:768px) {
                width: 290px;
            }
            
            /* Card hover */
            &:hover{
                background-color: lighten($color: $primary-color, $amount: 36); /* light version of $primary-color variable */

                /* Combinator to select icon when card hover */
                .functionning__step__card__ico{
                    color: $primary-color;
                }
            }

            /* Card number */
            &__number{
                width: 16px;
                padding: 5px;
                text-align: center;
                background-color: $primary-color;
                border-radius: 50%;
                color: #fff;
                position: relative;
                right: 16px;
            }

            /* Card icon */
            &__ico{
                color: darken($color: $grey-bg, $amount: 50); /* dark version of $grey-bg variable */ 
                font-size: 20px;
                width: 20px;
                margin-left: 5px;
            }

            /*Card text */
            &__txt{
                font-weight: 600;
                margin-left: 20px;
            }



            
        }
    }
}

