@keyframes fill{
    from{
        background: transparent;
    }

    to{
        font-weight: bold;
        background: linear-gradient($primary-color, $secondary-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}