@keyframes fill {
    0%{
        height: 30px;
        animation-timing-function: cubic-bezier(.16,.61,.67,.87);
    }

    100%{
        overflow: hidden;
        transform-origin: top center;
        height: 0px;
       
    }
    
}