@keyframes fill {
    0%{
        transform: scale(0);
        animation-timing-function: cubic-bezier(.16,.61,.67,.87);
    }

    100%{
        transform: scale(1);
        overflow: hidden;
    }
    
}


@keyframes card-appear {
    0%{
        transform: translateY(50px);
        opacity: 0;
    }

    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes loader-disappear {
    0%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}


@keyframes dot-fall {
    0%{
        transform: translateY(-600px); 
    }

    90%{
        transform: translateY(-5px) scale(1);
    }

    100%{
        transform: translateY(0px) scale(1.2, 0.8);
        
    }

}

@keyframes dot-mouv {

    0%{
        transform: translateY(0px) scale(1.2, 0.8);
        animation-timing-function: cubic-bezier(.39,.66,.45,.95); /*ralenti en fin de course */
    }

    50%{
        transform: translateY(-30px);
        animation-timing-function: cubic-bezier(.72,.13,.89,.6); /*ralenti en debut de course */
  
    }

    100%{
        transform: translateY(0px);
    }

}