@mixin bg-gradient {
    background: linear-gradient($secondary-color, $primary-color);
}

@mixin bg-gradient-darken {
    background: linear-gradient(lighten($secondary-color,2),lighten($primary-color,2));
} 

@mixin box-shadow {
    box-shadow: 0px 3px 10px -7px black;
}